@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var DictPizza = (Dictionary<string, Cart>)ViewData["Pizza"];
    var DictToppings = (Dictionary<string, Toppings>)ViewData["Toppings"];

}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @if (TempData["Added"] != null)
    {
        <script>
            alert("Ädded To Cart Successfully");
        </script>
    }

    <p>@TempData.Peek("UserID")</p>
    <p>Pizza</p>
    <table class="table table-striped table-dark" style="text-align:center">
        <thead>
            <tr>
                <th>Pizza Id</th>
                <th>Pizza Name</th>
                <th>Toppings ID</th>
                <th>Toppings Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in DictPizza.Keys)
            {
            <tr>
                <td>
                    @DictPizza[item].Pizza.ID
                </td>
                <td>
                    @DictPizza[item].Pizza.Name
                </td>
                @if (DictToppings != null)
                {
                    if (DictToppings.ContainsKey(item))
                    {
                        <td>@DictToppings[item].ID</td>
                        <td>@DictToppings[item].Name</td>
                        <td>@((@Convert.ToInt32(DictPizza[item].Pizza.Price)+@Convert.ToInt32(DictToppings[item].Price))*Convert.ToInt32(DictPizza[item].Qty))</td>
                    }
                    else
                    {
                        <td colspan="2"> - </td>
                        <td>@(@Convert.ToInt32(DictPizza[item].Pizza.Price)*@Convert.ToInt32(DictPizza[item].Qty))</td>
                    }

                }
                else
                {
                    <td colspan="2"> - </td>
                    <td>@(@Convert.ToInt32(DictPizza[item].Pizza.Price)*@Convert.ToInt32(DictPizza[item].Qty))</td>
                }
                <td>@DictPizza[item].Qty</td>
                <td><a href="@Url.Action("Delete","Toppings",new {ID=@item})"><button class="btn btn-warning">Delete</button></a></td>
                <td><a href="@Url.Action("Add","Toppings",new {ID=@item})"><button class="btn btn-warning">Add</button></a></td>
            </tr>

            }
        </tbody>
    </table>
    @Html.ActionLink("Go Back", "Index", "Pizza")
    <a href="@Url.Action("Index","Orders")"><button class="btn btn-warning">Order Now</button></a>
</body>
</html>