@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .jumbotron-fluid {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }

        .card #body {
            overflow: hidden;
        }

        .card {
            background-color: black;
            display: flex;
            flex-direction: row;
            margin: 10px;
        }

            .card .extra {
                padding: 10px;
                color: white;
            }

            .card #body img {
                transition: 0.5s ease-in;
            }


            .card #body:hover img {
                transform: scale(1.2);
            }

        .btn {
            background-color: none;
            border: 2px solid yellow;
        }
    </style>
</head>
<body style="background-image:url('/images/bg_4.jpg')">
    <p>@TempData.Peek("UserID")</p>
    <div class="jumbotron-fluid">
        @foreach (var item in Model)
        {

            <div class="card" style="height:250px;width:400px">
                <div id="body" style=" height:250px;width:200px;">
                    <img src=@item.Images alt="no image" style="width:200px; height:250px;">
                </div>
                <div class="extra" style="width:200px;">
                    <p style="font-weight:bold">@item.Name</p>

                    <p style="font-size:15px; font-family:'Times New Roman', Times, serif">@item.Description</p>

                    <p>
                        $ @item.Price    <a href="@Url.Action("GetToppings","Toppings",new {ID=item.ID })" style="margin-bottom:10px;">
                            <button type="button" class="btn" style=" color: white;">
                                Order Now
                            </button>
                        </a>
                    </p>
                </div>
            </div>
        }
    </div>
</body>
</html>